venv/
*.env

*.pyc
__pycache__/

.pytest_cache/
.coverage

dist/
build/
resou\
/
.idea/

config/config.ini

*.xml
*.json
*.wav
*.mp3
*.ogg
*.flac
*.local
kaggle.json
kaggle_build/
runs/
outputs/
training/resources/datasets/
*.mp4
*.pt
__pycache__/
.pytest_cache/
.vscode/
